<div class="row">
  <div class="col-lg-4 col-md-6 col-sm-12 mb-4" *ngFor="let facility of filteredFacilities$ | async">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{ facility.name }}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{ facility.createdAt | date }}</h6>
        <p class="card-text"><strong>Description:</strong> {{ facility.description }}</p>
        <p class="card-text"><strong>Address:</strong> {{ facility.address }}</p>
        <p class="card-text"><strong>City:</strong> {{ facility.city }}</p>
        <p class="card-text"><strong>Total Rating:</strong> {{ facility.totalRating }}</p>
        
        <!-- View Details Button -->
        <button (click)="navigateToDetails(facility.id)" class="btn btn-info mt-3">View Details</button>
        
        <!-- Edit Button -->
        <button (click)="navigateToEditFacility(facility.id)" class="btn btn-primary mt-3">Edit</button>
        
        <!-- Delete Button -->
        <button (click)="deleteFacility(facility.id)" class="btn btn-danger mt-3">Delete</button>
      </div>
    </div>
  </div>
</div>


