<!-- Filter Form -->
<form (ngSubmit)="applyFilters()">
  <div class="row mb-4">
    <div class="col-md-3">
      <label for="city">City</label>
      <input type="text" class="form-control" [(ngModel)]="filters.city" name="city" placeholder="Enter city">
    </div>
    <div class="col-md-3">
      <label for="discipline">Discipline</label>
      <input type="text" class="form-control" [(ngModel)]="filters.discipline" name="discipline" placeholder="Enter discipline">
    </div>
    <div class="col-md-3">
      <label for="minRating">Min Rating</label>
      <input type="number" class="form-control" [(ngModel)]="filters.minRating" step="0.1" name="minRating" placeholder="Min Rating" min="0" max="10">
    </div>
    <div class="col-md-3">
      <label for="maxRating">Max Rating</label>
      <input type="number" class="form-control" [(ngModel)]="filters.maxRating" step="0.1" name="maxRating" placeholder="Max Rating" min="0" max="10">
    </div>
  </div>
  <div class="d-flex justify-content-between">
    <button type="submit" class="btn btn-primary">Apply Filters</button>
    <button type="button" (click)="cancelFilters()" class="btn btn-secondary">Cancel Filters</button>
    <button (click)="navigateToCreateFacility()" class="btn btn-success">Create New Facility</button>
  </div>
</form>


<div class="row">
  <div class="col-lg-4 col-md-6 col-sm-12 mb-4" *ngFor="let facility of filteredFacilities$ | async">
    <div class="card h-100 d-flex flex-column">
      <div class="card-body d-flex flex-column">
        <h5 class="card-title">{{ facility.name }}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{ facility.createdAt | date }}</h6>
        <p class="card-text"><strong>Description:</strong> {{ facility.description }}</p>
        <p class="card-text"><strong>Address:</strong> {{ facility.address }}</p>
        <p class="card-text"><strong>City:</strong> {{ facility.city }}</p>
        <p class="card-text"><strong>Total Rating:</strong> {{ facility.totalRating }}</p>
        <h6 class="mt-auto">Disciplines</h6>
        <ul class="list-unstyled">
          <li *ngFor="let discipline of facility?.disciplines">
            {{ discipline.name }}
          </li>
        </ul>
      </div>
      <div class="card-footer d-flex justify-content-between">
        <!-- View Details Button -->
        <button (click)="navigateToDetails(facility.id)" class="btn btn-info btn-sm">Details</button>
        <!-- Edit Button -->
        <button (click)="navigateToEditFacility(facility.id)" class="btn btn-primary btn-sm">Edit</button>
        <!-- Delete Button -->
        <button (click)="deleteFacility(facility.id)" class="btn btn-danger btn-sm">Delete</button>
      </div>
    </div>
  </div>
</div>

