<div class="container mt-4">
  <h2>Facilities</h2>

  <button (click)="navigateToCreateFacility()" class="btn btn-success mb-4">Create New Facility</button>

  <!-- Filter Form -->
  <form (ngSubmit)="applyFilters()">
    <div class="row mb-4">
      <div class="col-md-3">
        <input type="text" class="form-control" [(ngModel)]="filters.city" name="city" placeholder="City">
      </div>
      <div class="col-md-3">
        <input type="text" class="form-control" [(ngModel)]="filters.discipline" name="discipline" placeholder="Discipline">
      </div>
      <div class="col-md-3">
        <input type="number" class="form-control" [(ngModel)]="filters.minRating" step="0.1" name="minRating" placeholder="Min Rating">
      </div>
      <div class="col-md-3">
        <input type="number" class="form-control" [(ngModel)]="filters.maxRating" step="0.1" name="maxRating" placeholder="Max Rating">
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Apply Filters</button>
  </form>

  <div class="row">
    <div class="col-lg-4 col-md-6 col-sm-12 mb-4" *ngFor="let facility of filteredFacilities$ | async">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{ facility.name }}</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{ facility.createdAt | date }}</h6>
          <p class="card-text"><strong>Description:</strong> {{ facility.description }}</p>
          <p class="card-text"><strong>Address:</strong> {{ facility.address }}</p>
          <p class="card-text"><strong>City:</strong> {{ facility.city }}</p>
          <p class="card-text"><strong>Total Rating:</strong> {{ facility.totalRating }}</p>
          

          
          <!-- Delete Button -->
          <button (click)="deleteFacility(facility.id)" class="btn btn-danger mt-3">Delete</button>
        </div>
      </div>
    </div>
  </div>
</div>
